/* REQUIRED BY TOPSHELF POPOVER */
*[data-ui='popover-panel']{
	position:fixed;
	display:none;
	top:50%;
	left:50%;
	z-index:9999;
}
/* DEFAULT SKIN */
.popover{
	width:300px;
	height:300px;
	padding:15px 30px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#555;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* W3C */
	border:1px solid #dbdbdb;
	border-radius:3px;
	box-shadow:0px 3px 30px 0px rgba(0,0,0,0.3);
	z-index: 999999;
}
.preview {
	cursor: pointer;
}
div#popover-preview {
position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 40px;
}
div#popover p {
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	text-align: center;
}
.instructions div {
	display: inline;
}

div.donate {
	margin-top: 10px;
}
#donate {
	font-size: 11px;
	line-height: 16px;
	margin: 30px 0 4px -12px;
	border-top: 1px solid #B74327;
	padding: 10px 4px 0 4px;
	width: 750px;
}
#donate a {
	color: #B74327;
	text-decoration: none;	
}
input.donate {
	margin: -1px 8px 0 -4px;
}

#cropperimage img {
	opacity: 0;
}